html,
body {
    margin: 0;
    user-select: none;
    width: 100%;
    height: 100%;
    line-height: 2.5;
    letter-spacing: 0.05rem;
    font-size: 1.1em;
    font-family: "Latin Modern Roman", serif;
}

h1,
h2 {
    /* letter-spacing: 0.01em; */
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
.post-item h2 {
    mix-blend-mode: difference;
    color: white;
}
h3 {
    letter-spacing: 0.5em;
    font-size: 1.1em;
}
a {
    color: inherit;
    text-decoration: none;
}

.text {
    font-size: 1.1em;
    text-align: justify;
    text-align-last: center;
    width: 700px;
    margin: 0 auto;
    max-width: 90vw;
}
