html,
body {
    margin: 0;
    user-select: none;
    width: 100%;
    height: 100%;
    line-height: 2.5;
    letter-spacing: 0.05rem;
    hyphens: auto;
    font-size: 1.2em;
    font-family: "Libertinus Serif", serif;
}

@media (max-width: 600px) {
    html,
    body {
        font-size: 1em;
    }
}

h1,
h2,
h3 {
    text-align: center;
    font-weight: normal;
    margin: 0;
    letter-spacing: 0.2em;
}

.post-item h2 {
    mix-blend-mode: difference;
    filter: grayscale(100%) !important;
    color: white;
}
h3 {
    letter-spacing: 0.5em;
    font-size: 1.1em;
}
a {
    color: inherit;
    text-decoration: none;
}

/* light and dark mode theme stuff below */
.text {
    font-size: clamp(0.9rem, 3vw, 1.1em);
    text-align: center;
    width: 90%;
    max-width: 777px;
    margin: 0 auto;
    padding: 10vh 1rem;
}

.line {
    padding-bottom: 10vh;
}
.exLibirs {
    overflow: hidden;
    padding: 10vh 0;
    position: relative;
}

p {
    margin: 0 auto;
    /* max-width: 700px; */
    /* width: 800px; */
    /* text-align: justify; */
    text-justify: inter-word;
}

/* .typst-page {
    display: none;
}
.typst-page.active {
    display: block;
} */

.typst {
    width: 95vw;
    max-width: 1200px;
    margin: 0 auto;
}
