---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="text">
        Noah Syrkis' work explores the aesthetics of archives and mathematics,
        along with variations on geospatial and organic themes. Working across
        Copenhagen, Rio de Janeiro, and New York, Noah develops systems that
        translate complex and stochastic processes into visual and physical
        forms, often occupying a space between structure and decay. As an
        artificial intelligence researcher Noah studies complex domains by
        computational means. From command and control systems to cultural
        geometry, his research investigates how patterns evolve and dissolve in
        both synthetic and organic systems, employing, among other techniques,
        mechanistic interpretability, geometric deep learning, and quality
        diversity algorithms.
    </div>
</Layout>

<style>
    .text {
        padding: 10vh 0;
        margin: auto;
        width: 90%;
        max-width: 700px;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: center;
    }
</style>
