---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <Header />
    <div class="text" style="text-align: justify; text-align-last: center;">
        <p>
            Noah Syrkis's work explores the aesthetics of archives and mathematics, along with variations on geospatial
            and organic themes. Working across Copenhagen, Rio de Janeiro, and New York, Noah develops systems that
            translate complex and often stochastic data into visual and physical form. His work occupies a space between
            structure and decay, where patterns emerge and dissolve.
        </p><p>
            As a researcher in artificial intelligence and cultural geometry and through his work at the <a
                href="https://virian.org"
                target="_blank"><i>Virian Project</i></a
            >, Noah studies complex domains by computational means—from command and control systems to societal
            networks. His work investigates how mathematical patterns evolve in both artificial and organic systems,
            employing, among other techniques, multi-agent simulations and geometric deep learning to explore these
            dynamics.
        </p>
    </div>
</Layout>

<style>
    .text {
        padding: 10vh 0;
    }
</style>
