---
const isRoot = Astro.url.pathname === "/";
---

{
    !isRoot && (
        <footer class="footer" transition:name="footer" transition:name="footer">
            <div class="content">
                ———————
                <br />
                for any inquiries, write
                <br />
                <a href="mailto:desk@syrkis.com">desk[at]syrkis.com</a>
            </div>
        </footer>
    )
}

<style>
    .footer {
        text-align: center;
        padding: 5vh 0;
    }

    .content {
        line-height: 2.5;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
