---
const isRoot = Astro.url.pathname === "/";
---

<div class={`${isRoot ? "root" : ""}`}>
    <!-- Noah Syrkis -->
    <header transition:name="headers">
        <a href="/talks" class="nav-link">talks</a>
        <a href="/" class="divider">—</a>
        <a href="/works" class="nav-link">works</a>
    </header>
</div>
