---
const isRoot = Astro.url.pathname === "/";
---

{
    (
        <div class={`${isRoot ? "root" : ""}`}>
            <header transition:name="headers">
                <a href="/works">works</a>
                <a href="/">|</a>
                <a href="/about">about</a>
            </header>
        </div>
    )
}

<style>
    .root {
        padding-top: 50vh;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        font-size: 1.7em;
        width: 400px;
        letter-spacing: 0.1em;
        max-width: 90%;
        margin: auto;
    }
</style>
