---
const isRoot = Astro.url.pathname === "/";
---

{
    (
        <div class={`${isRoot ? "root" : ""}`}>
            <!-- Noah Syrkis -->
            <header transition:name="headers">
                <a href="/works" class="nav-link">works</a>
                <a href="/" class="divider">—</a>
                <a href="/talks" class="nav-link">talks</a>
            </header>
        </div>
    )
}

<style>
    .root {
        padding-top: 70vh;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        font-size: 1.7em;
        width: 400px;
        letter-spacing: 0.1em;
        max-width: 90%;
        margin: auto;
    }

    .nav-link {
        flex: 1;
        text-align: center;
    }

    .divider {
        padding: 0 0.5em;
    }

    @media (max-width: 600px) {
        header {
            width: 300px;
        }
    }
</style>
