---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import "../assets/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Noah Syrkis</title>
        <link
            href="https://fonts.cdnfonts.com/css/libertinus-serif"
            rel="stylesheet"
            type="text/css"
            charset="utf-8"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css"
        />
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="5d4d1d04-96de-428a-9fdf-364a81b64f9b"></script>
    </head>
    <body class={Astro.props.pageType}>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
