---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <ClientRouter />
        <link rel="stylesheet" href="/global.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Noah Syrkis</title>
        <link
            rel="stylesheet"
            href="https://lalten.github.io/lmweb/style/latinmodern-roman.css"
            type="text/css"
            charset="utf-8"
        />
    </head>
    <body>
        <slot />
        <Footer />
    </body>
</html>

<script>
    document.addEventListener("astro:page-load", () => {
        const path = window.location.pathname;
        if (path !== "/") {
            window.scrollTo({
                top: 123,
                left: 0,
                behavior: "instant",
            });
        }
    });
</script>
